PROJECT_NAME="Restaurant Service"
MONGO_URI="mongodb://localhost:27017"
MONGO_DB_NAME="restaurant_db"
PORT=8001
LOG_LEVEL="INFO"

# Eureka Discovery Server Configuration
EUREKA_HOST="localhost"
EUREKA_PORT=8761
EUREKA_APP_NAME="RESTAURANT-SERVICE"
EUREKA_INSTANCE_HOST="localhost"
EUREKA_INSTANCE_IP="127.0.0.1"
